[submodule "go/github.com/julienschmidt/httprouter"]
	path = go/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter.git
[submodule "python"]
	path = python
	url = git@github.com:XavierDooms/gdpr-word-game.git
